<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bugtag.networkapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".HttpClientActivity"
            android:label="@string/title_activity_http_client"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".UrlActivity"
            android:label="@string/title_activity_url"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".JsonActivity"
            android:label="@string/title_activity_json"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".InputStreamActivity"
            android:label="@string/title_activity_input_stream"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".OkhttpActivity"
            android:label="@string/title_activity_okhttp"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Okhttp2Activity"
            android:label="@string/title_activity_okhttp2"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Okhttp3Activity"
            android:label="@string/title_activity_okhttp3"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".RetrofitActivity"
            android:label="@string/title_activity_retrofit"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".LoopjActivity"
            android:label="@string/title_activity_loopj"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>